{% extends 'global/base.html' %}

{% block content %}
    <div class="single-contact">
        <h1 class="single-contact-name">
            {{ contact.first_name }} {{contact.last_nome}}
        </h1>

        <p><strong>ID: </strong> {{ contact.id }}</p>
        <p><strong>Email: </strong> {{ contact.email }}</p>
        <p><strong>Phone: </strong> {{ contact.phone }}</p>
        <p><strong>Created Date: </strong> {{ contact.created_date }}</p>
        <p><strong>Description: </strong> {{ contact.description }}</p>
        <p><strong>Category: </strong> {{ contact.category.name }}</p>


        <div class="contact-links">
            <a class="btn btn-link" href="{% url 'update_contact' contact.id%}">update</a>

            <form action="" method="post">
                {% csrf_token %}

                <button type="submit" class="btn btn-link btn-delete">Delete</button>
            </form>
        </div>
    </div>
{% endblock content %}
