{% extends 'global/base.html' %}
{% load static %}

{% block content %}
    <div class="single-contact">
        <h1 class="single-contact-name">
            {{ contact.first_name }} {{contact.last_nome}}
        </h1>

        <p><strong>ID: </strong> {{ contact.id }}</p>
        <p><strong>Email: </strong> {{ contact.email }}</p>
        <p><strong>Phone: </strong> {{ contact.phone }}</p>
        <p><strong>Created Date: </strong> {{ contact.created_date }}</p>
        <p><strong>Description: </strong> {{ contact.description }}</p>
        <p><strong>Category: </strong> {{ contact.category.name }}</p>

        {% if contact.picture %}
            <p>
                <img src="{{ contact.picture.url }}" alt="{{ contact.first_name }} {{ contact.last_nome }}">
            </p>
        {% endif %}
        
        {% if user == contact.owner %}
        <div class="contact-links">
            <a class="btn btn-link" href="{% url 'update_contact' contact.id%}">Update</a>

            <form action="{% url 'delete_contact' contact.id %}" method="post" class="delete">
                {% csrf_token %}

                <button type="submit" class="btn btn-link btn-delete">Delete</button>
            </form>
        </div>
        {% endif %}
    </div>

    <script src="{% static 'contact/delete.js' %}"></script>
{% endblock content %}
