{% extends 'global/base.html' %}

{% block content %}
  <div class="form-wrapper">

    <h2>Contact</h2>
    
    <form 
      action="{% url 'create_contact' %}"
      method="POST"
      enctype="multipart/form-data"
      id="contact"
    >

    {% csrf_token %}

    
    {% for field in form %}
      <div class="form-group">
        <label for="{{field.id_for_label}}">{{field.label}}</label>
        {{field}}
        {{field.errors}}
      </div>
    {% endfor %}
      
    {% if form.non_field_errors %}
      <div class="form-content">
        <div class="form-group">
          <div class="message error">
            {{ form.non_field_errors }}
          </div>
        </div>
      </div>
    {% endif %}

    <div class="form-content">
      <div class="form-group">
        <button class="btn" type="submit">Send</button>
      </div>
    </div>

    </form>
  </div>

  <script>
      const form = document.querySelector("#contact");
      form.addEventListener("submit", (e)=>{
        if(form.method != "POST"){
          form.method = "POST";
        }
      });
  </script>
{% endblock content %}