{% extends 'global/base.html' %}

{% block content %}
  <div class="form-wrapper">

    <h2>Login</h2>

    {% if user.is_authenticated %}
      <p>Você fez login como {{ user.username }}. Clique <a href="{% url 'logout_user' %}">aqui</a> para sair.</p>
      {% else %}
      {% include 'contact/partials/form.html' %}
    {% endif %}

    
    
  </div>

  <script>
      const form = document.querySelector("#user");
      form.addEventListener("submit", (e)=>{
        if(form.method != "POST"){
          form.method = "POST";
        }
      });
  </script>
{% endblock content %}